{% extends '../layouts/base.html' %}
{% load static %}
{% block "content" %}

<div class="auth signup">
    <div class="row">
        <div class="col-md-6">
            <div class="card card-default">
                <div class="card-body">
                    <h1>Register as Player</h1>

                    <form action="">

                        <div class="field">
                            <label for="" class="input-label">Firstname</label>
                            <input type="text" name="" id="" class="form-control"></div>
                        <div class="field">
                            <label for="" class="input-label">Lastname</label>
                            <input type="text" name="" id="" class="form-control"></div>
                        <div class="field">
                            <label for="" class="input-label">E-mail</label>
                            <input type="text" name="" id="" class="form-control"></div>
                        <div class="field">
                            <label for="" class="input-label">Phone</label>
                            <input type="text" name="" id="" class="form-control"></div>
                        <div class="field">
                            <label for="" class="input-label">Password</label>
                            <input type="password" name="" id="" class="form-control"></div>
                        <div class="field">
                            <label for="" class="input-label">Confirm Password</label>
                            <input type="password" name="" id="" class="form-control"></div>


                        <div class="action-buttons mt-2">

                            <button class="btn btn-success"><i class="ti ti-user"></i> Register Player Account</button>
                        </div>

                    </form>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="card card-default">
                <div class="card-body">
                    <h1>Register a Team</h1>

                    <form action="">

                        <div class="field">
                            <label for="" class="input-label">Firstname</label>
                            <input type="text" name="" id="" class="form-control"></div>
                        <div class="field">
                            <label for="" class="input-label">Lastname</label>
                            <input type="text" name="" id="" class="form-control"></div>
                        <div class="field">
                            <label for="" class="input-label">E-mail</label>
                            <input type="text" name="" id="" class="form-control"></div>
                        <div class="field">
                            <label for="" class="input-label">Phone</label>
                            <input type="text" name="" id="" class="form-control"></div>
                        <div class="field">
                            <label for="" class="input-label">Password</label>
                            <input type="password" name="" id="" class="form-control"></div>
                        <div class="field">
                            <label for="" class="input-label">Confirm Password</label>
                            <input type="password" name="" id="" class="form-control"></div>

                        <hr>
                        <div class="field">
                            <label for="" class="input-label">Team Name</label>
                            <input type="text" name="" id="" class="form-control"></div>
                        <div class="field">
                            <label for="" class="input-label">Owner Name</label>
                            <input type="text" name="" id="" class="form-control"></div>
                        <div class="field">
                            <label for="" class="input-label">Address</label>
                            <input type="text" name="" id="" class="form-control"></div>
                        <div class="field">
                            <label for="" class="input-label">Sports Category</label>
                            <select name="sport" id="sport" class="form-control select">
                                <option value="">Please Select One Sports</option>
                                <option value="football">Football</option>
                                <option value="basketball">Basketball</option>
                            </select>
                        </div>

                        <div class="action-buttons mt-2">
                            <button class="btn btn-success"><i class="ti ti-users"></i> Register Team Account</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}