{% extends '../layouts/base.html' %}
{% load static %}
{% block "content" %}

<div class="teams teams-index">
    
    <div class="teams-hero">
        <h1>{{ sport_name }}</h1>
        <div class="teams-cta">
            <button class="btn btn-primary btn-block">Register Your {{ sport_name }} Team today!</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>News</h3>
        </div>
        <div class="col-md-4">
            <h3>Events</h3>
        </div>
        <div class="col-md-4">
            <h3>Teams</h3>
        </div>
    </div>
    <div class="gallery">
        <h2>Gallery</h2>
    </div>
</div>

<div class="adbanner"></div>

{% endblock %}