<footer class="p-6">
    <div class="container py-4 py-md-5 px-4 px-md-3">
      <div class="row">
        <div class="col-4 col-sm-6 col-lg-3 mb-3">
          <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="/" aria-label="Bootstrap">
            <span class="fs-5">Timenye</span>
          </a>
          <ul class="list-unstyled small text-muted">
            <li class="mb-2">Socialize through Sports</li>
            <li class="mb-2">Currently MVP v0.0.1</li>
          </ul>
        </div>
        <div class="col-4 col-lg-2 offset-lg-2 mb-2">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/contact-sales">Contact Sales</a></li>
            <li class="nav-item"><a class="nav-link" href="/login">Sign In</a></li>
            <li class="nav-item"><a class="nav-link" href="/signup">Sign Up</a></li>
          </ul>
        </div>
        <div class="col-4 col-sm-12 col-lg-2 mb-2">
          <h5>Product</h5>
          <ul class="list-unstyled">
            <li class="nav-item"><a class="nav-link" href="/features#pricing">Pricing</a></li>
            <li class="nav-item"><a class="nav-link" href="/features#pricing">For Individuals</a></li>
            <li class="nav-item"><a class="nav-link" href="/developers">For Teams</a></li>
            <li class="nav-item"><a class="nav-link" href="/developers">For Institutions</a></li>
          </ul>
        </div>
        <div class="col-4 col-sm-12 col-lg-2 mb-2">
          <h5>Company</h5>
          <ul class="list-unstyled">
            <li class="nav-item"><a class="nav-link" href="/pages/about">About Us</a></li>
            <li class="nav-item"><a class="nav-link" href="/pages/legal">Legal Notices</a></li>
            <li class="nav-item"><a class="nav-link" href="/pages/terms-of-service">Terms of Service</a></li>
            <li class="nav-item"><a class="nav-link" href="/pages/privacy-policy">Privacy Policy</a></li>
            <li class="nav-item"><a class="nav-link" href="/pages/cookie-policy">Cookie Policy</a></li>
            <!-- <li class="nav-item"><a class="nav-link" href="#security-policy">Security Policy</a></li> -->
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-12 small text-muted text-center">
          Made with <3 by NNDI in Lilongwe, Malawi.
        </div>
      </div>
    </div>
  </footer>
  
  
  
  
  