
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container container-fluid">
      <a class="navbar-brand" href="/">Timenye</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a  class="nav-link" href="/discover"><i class="ti ti-search"></i>For You</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link" href="/sport/football"><i class="ti ti-ball-football"></i>Football</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link" href="/sport/basketball"><i class="ti ti-ball-basketball"></i>Basketball</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link" href="/sport/netball"><i class="ti ti-ball-volleyball"></i>Netball</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link" href="/sport/volleyball"><i class="ti ti-ball-volleyball"></i>Volleyball</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link" href="/sport/netball"><i class="ti ti-ball-tennis"></i>Tennis</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link" href="/teams"><i class="ti ti-users"></i>Teams</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="/sports/">Other Sports</a></li>
        </ul>
        <div class="navbar-right">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" href="/signup">Register</a></li>
            <li class="nav-item"><a class="nav-link" href="/login">Sign In</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  
  