{% extends 'layouts/base.html' %}
{% load static %}
{% block "content" %}

<div class="row mt-3">
    <div class="col-sm-12 col-md-3">
        <div class="sport-cover"></div>
        <div class="sport-title">Football</div>
    </div>
    <div class="col-sm-12 col-md-3">
        <div class="sport-cover"></div>
        <div class="sport-title">Netball</div>
    </div>
    <div class="col-sm-12 col-md-3">
        <div class="sport-cover"></div>
        <div class="sport-title">Tennis</div>
    </div>
    <div class="col-sm-12 col-md-3">
        <div class="sport-cover"></div>
        <div class="sport-title">VolleyBall</div>
    </div>
    <div class="col-sm-12 col-md-3">
        <div class="sport-cover"></div>
        <div class="sport-title">Rugby</div>
    </div>
    <div class="col-sm-12 col-md-3">
        <div class="sport-cover"></div>
        <div class="sport-title">Chess</div>
    </div>
    <div class="col-sm-12 col-md-3">
        <div class="sport-cover"></div>
        <div class="sport-title">Basketball</div>
    </div>
    <div class="col-sm-12 col-md-3">
        <div class="sport-cover"></div>
        <div class="sport-title">Boxing</div>
    </div>
    <div class="col-sm-12 col-md-3">
        <div class="sport-cover"></div>
        <div class="sport-title">Martial Arts</div>
    </div>
    <div class="col-sm-12 col-md-3">
        <div class="sport-cover"></div>
        <div class="sport-title">Athletics</div>
    </div>
    <div class="col-sm-12 col-md-3">
        <div class="sport-cover"></div>
        <div class="sport-title">Swimming</div>
    </div>
    <div class="col-sm-12 col-md-3">
        <div class="sport-cover"></div>
        <div class="sport-title">Chess</div>
    </div>
    <div class="col-sm-12 col-md-3">
        <div class="sport-cover"></div>
        <div class="sport-title">Bawo</div>
    </div>
    <div class="col-sm-12 col-md-3">
        <div class="sport-cover"></div>
        <div class="sport-title">Darts</div>
    </div>
    <div class="col-sm-12 col-md-3">
        <div class="sport-cover"></div>
        <div class="sport-title">Squash</div>
    </div>
    <div class="col-sm-12 col-md-3">
        <div class="sport-cover"></div>
        <div class="sport-title">Hockey</div>
    </div>
    <div class="col-sm-12 col-md-3">
        <div class="sport-cover"></div>
        <div class="sport-title">Gymnastics</div>
    </div>
    <div class="col-sm-12 col-md-3">
        <div class="sport-cover"></div>
        <div class="sport-title">Pool / Snooker</div>
    </div>
    <div class="col-sm-12 col-md-3">
        <div class="sport-cover"></div>
        <div class="sport-title">Indoor Soccer</div>
    </div>
    <div class="col-sm-12 col-md-3">
        <div class="sport-cover"></div>
        <div class="sport-title">Cycling</div>
    </div>
</div>

<div class="adbanner"></div>

{% endblock %}